<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<hr>
<h2>Comments: </h2>
<div>
<table id="tblPro">
  <tr>
    <th>Date</th>
    <th>Topic</th>
    <th>Comment</th>
    <th>Username</th>
    <th>Likes</th>
  </tr>
  <tr *ngFor="let mydata of data">
    <td>{{ mydata.created }}</td>
    <td>{{ mydata.topic }}</td>
    <td>{{ mydata.comment }}</td>
    <td><button class="btnBuy" (click)="count = count + 1">{{ mydata.username }}</button></td>
    <td>{{ count }}</td>
  </tr>
  <tr>
    <td><button class="btnBuy" (click)="more(count)">More</button>{{ count }}</td>
  </tr>
</table>
</div>
<hr>

<div>
<table id="tblPro">
  <tr>
    <th>Date</th>
    <th>Topic</th>
    <th>Comment</th>
    <th>Username</th>
    <th>Likes</th>
  </tr>
  <tr *ngFor="let xdata of comments">
    <td>{{ xdata.created }}</td>
    <td>{{ xdata.topic }}</td>
    <td>{{ xdata.comment }}</td>
    <td><button class="btnBuy" (click)="count = count + 1">{{ xdata.username }}</button>{{ count }}</td>
    <td>{{ xdata.likes }}</td>
  </tr>
  <tr>
    <td><button class="btnBuy" (click)="more(count)">More</button>{{ count }}</td>
  </tr>
</table>
</div>
<hr>
<!--
<div>
{{ comments }}
</div>
<hr>
<div>
{{ data }}
</div>
-->
<hr>


<router-outlet></router-outlet>
